<!--<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Login</ion-title>
  </ion-navbar>
</ion-header>-->

<ion-content padding class="background">
  <h2>
    <br>
    <br>
    <br>
  </h2>
  <ion-row center text-center class="logo_app">
    <ion-col center text-center>
      <img img src="assets/imgs/logo_app.png" alt="" class="logo_app">
    </ion-col>
  </ion-row>
  <!--<ion-col center text-center>
      <p>
        If you get lost, the
        <a href="http://ionicframework.com/docs/v2">docs</a> will show you the way.
      </p>-->

  <ion-row>
    <ion-col col-11 center text-center>
      <ion-item style="background-color: #005699">
        <ion-input type="text" placeholder="Usuário" ng-model="username" id="username" [(ngModel)]="credencial.usuario"></ion-input>
      </ion-item>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col col-11 center text-center>
      <ion-item style="background-color: #005699">
        <ion-input type="password" placeholder="Senha" ng-model="password" id="password" [(ngModel)]="credencial.senha"></ion-input>
      </ion-item>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col center text-center>
      <button ion-button color="light" full (click)="login()">Login</button>
    </ion-col>
  </ion-row>

  <br><br>
  <ion-row>
    <ion-col center text-center>
        <p style="font-size: 8pt ;color: white">Versão 2.0</p>
    </ion-col>
  </ion-row>

</ion-content>